{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}

<div class="container is-fluid has-text-white">
    <div class="level-item">
        <div class="field has-addons">
            <div class="control">
                <div class="select is-medium is-primary">
                    <select>
                        <option>CATEGORY</option>
                        {% for categorie in categories %}
                            <option>{{ categorie.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


{# Search bar #}

            <p class="control">
                <input class="input is-medium w-large is-primary" type="text" placeholder="Find a post" list="demandes">
                {#
                <datalist id="demandes">
                    <option value="Kronenbourg">
                    <option value="Grimbergen">
                </datalist>
                 #}
            </p>
            <p class="control">
                <button class="button is-medium is-primary">
                    SEARCH
                </button>
            </p>
{# end search #}
        </div>
    </div>



    <!-- TABS -->
    <div class="tabs is-toggle is-fullwidth">
            <li class="{% if app.request.get('_route') == 'demandes_ouvertes' %}is-active{% endif %}">
                <a href="{{ path('demandes_ouvertes') }}" class="has-text-grey has-text-weight-bold" style="background-color: #F9F9F9">Ouvertes</a>
            </li>
            <li class="{% if app.request.get('_route') == 'demandes_terminees' %}is-active{% endif %}">
                <a href="{{ path('demandes_terminees') }}" class="has-text-grey has-text-weight-bold" style="background-color: #F9F9F9">Terminées</a>
            </li>
            <li class="{% if app.request.get('demandes_validees') == 'current_route' %}is-active{% endif %}">
                <a href="{{ path('demandes_validees') }}" class="has-text-grey has-text-weight-bold" style="background-color: #F9F9F9">Completées</a>
            </li>
            <li class="{% if app.request.get('demandes_rejetees') == 'current_route' %}is-active{% endif %}">
                <a href="{{ path('demandes_rejetees') }}" class="has-text-grey has-text-weight-bold" style="background-color: #F9F9F9">Rejetées</a>
            </li>
            <li class="{% if app.request.get('_route') == 'demandes_annulees' %}is-active{% endif %}">
                <a href="{{ path('demandes_annulees') }}" class="has-text-grey has-text-weight-bold" style="background-color: #F9F9F9">Annulée</a>
            </li>
        </ul>
    </div>

    <!-- BLOCK -->

    {% for demande in demandes %}
    <div class="columns bordered">
{# Block left#}
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <span class="tag is-primary">{{ demande.categorie.nom }}</span>
                </div>
            </div>
            <div class="level has-text-weight-semibold">
                    <p>{{ demande.titre }}</p>
            </div>
                <div class="level has-text-grey">
                    <p>Cree le {{ demande.createdAt|date("d/m/Y") }}</p>
                </div>

            <div class="level">
                <p>{{ demande.sommaire }}</p>
            </div>
        </div>
{# Block Middle #}
        <div class="column center">
            <div class="level">
                <div class="level-item">
                    <p class="has-text-weight-semibold pt-3">Fonds demandés</p>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <p class="has-text-weight-bold">{{ demande.budget }}€</p>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    {% set partDuBudget = (demande.budget / 400000) * 100 %}
                    <progress class="progress is-info" value="{{ partDuBudget }}" max="100">{{ partDuBudget }}%</progress>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <p>vote deadline : <span>{{ demande.deadline|date("d/m/Y") }}</span></p>
                </div>
            </div>
        </div>
{# Block right #}
        <div class="column">
            {% if app.request.get('_route') != 'demandes_annulees' %}
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['contre'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">

                        <p>Contre <span>{{ countStatus[demande.id]['contre'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">

                    <progress class="progress is-danger" value="{{ pourcentageVotes[demande.id]['contre'] }}" max="100"></progress>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['pour'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>Pour <span>{{ countStatus[demande.id]['pour'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">
                    <progress class="progress is-success" value="{{ pourcentageVotes[demande.id]['pour'] }}" max="100"></progress>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['abstention'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>Abstention <span>{{ countStatus[demande.id]['abstention'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">
                    <progress class="progress" value="{{ pourcentageVotes[demande.id]['abstention'] }}" max="100"></progress>
                </div>
            </div>
            {% endif %}
        </div>
{# End right #}
    </div>
{# End row blocks #}
    <div class="columns bordered white-block" style="background-color: #FFFFFF;">
        <div class="column">
            <div class="level has-text-centered">
                <div class="level-item">
                    <a href="{{ path('demandes_show', {'id' : demande.id }) }}" class="button is-primary is-outlined">Detail</a>
                </div>

                <div class="level-item has-text-centered">
                    <a href="{{ path('demandes_show', {'id' : demande.id }) }}" class="button is-primary is-outlined">Qui a voté ?</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
        {# this div close container#}
</div>


    <button class="button is-link is-outlined is-rounded"> <a href="{{ path('demandes_new') }}">Soumettre une nouvelle demande</a></button>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
    <script>

        const url = window.location.origin + '/demandes/json';
        let demandesJson;

        async function getDemandes() {
            const response = await fecth(url);
            const data = await response.json();
            const demandesJson = data;
        }
        getDemandes();
        console.log(demandesJson);
    </script>
{% endblock %}

