{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
    {{ dump(demandes) }}
<div class="container is-fluid has-text-white">
    <div class="level-item">
        <div class="field has-addons">
            <div class="control">
                <div class="select is-medium is-primary">
                    <select>
                        <option>CATEGORY</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
            <p class="control">
                <input class="input is-medium w-large is-primary" type="text" placeholder="Find a post">
            </p>
            <p class="control">
                <button class="button is-medium is-primary">
                    SEARCH
                </button>
            </p>
        </div>
    </div>

    <!-- TABS -->
    <div class="tabs is-boxed is-fullwidth">
        <ul>
            <li class="is-active">
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Ouvertes</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Terminées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Completées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Rejetées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Annulées</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- BLOCK -->

    {% for demande in demandes %}
    <div class="columns bordered">
{# Block left#}
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <span class="tag is-primary"></span>
                </div>
            </div>
            <div class="level has-text-weight-semibold">
                    <p>{{ demande.titre }}</p>
            </div>
                <div class="level has-text-grey">
                    <p>Cree le {{ demande.createdAt|date("d/m/Y") }}</p>
                </div>

            <div class="level">
                <p>{{ demande.sommaire }}</p>
            </div>
        </div>
{# Block Middle #}
        <div class="column center">
            <div class="level">
                <div class="level-item">
                    <p class="has-text-weight-semibold pt-3">Fonds demandés</p>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <p class="has-text-weight-bold">{{ demande.budget }}€</p>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    {% set partDuBudget = (demande.budget / 400000) * 100 %}
                    <progress class="progress is-info" value="{{ partDuBudget }}" max="100">{{ partDuBudget }}%</progress>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <p>vote deadline : <span>{{ demande.deadline|date("d/m/Y") }}</span></p>
                </div>
            </div>
        </div>
{# Block right #}
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['contre'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">

                        <p>Contre <span>{{ countStatus[demande.id]['contre'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">

                    <progress class="progress is-danger" value="{{ pourcentageVotes[demande.id]['contre'] }}" max="100"></progress>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['pour'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>Pour <span>{{ countStatus[demande.id]['contre'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">
                    <progress class="progress is-success" value="{{ pourcentageVotes[demande.id]['pour'] }}" max="100"></progress>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                        <p>{{ pourcentageVotes[demande.id]['abstention'] }} %</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>Abstention <span>{{ countStatus[demande.id]['abstention'] }}</span></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item -mt-1">
                    <progress class="progress" value="{{ pourcentageVotes[demande.id]['abstention'] }}" max="100"></progress>
                </div>
            </div>
        </div>
{# End right #}
    </div>
{# End row blocks #}
    <div class="columns bordered white-block" style="background-color: #FFFFFF;">
        <div class="column">
            <div class="level has-text-centered">
                <div class="level-item">
                    <a class="button is-primary is-outlined">Detail</a>
                </div>

                <div class="level-item has-text-centered">
                    <a class="button is-primary is-outlined">Qui a voté ?</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
        {# this div close container#}
</div>


    <button class="button is-link is-outlined is-rounded"> <a href="{{ path('demandes_new') }}">Soumettre une nouvelle demande</a></button>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

