{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
<div class="container is-fluid has-text-white">
    <div class="level-item">
        <div class="field has-addons">
            <div class="control">
                <div class="select is-medium is-primary">
                    <select>
                        <option>CATEGORY</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
            <p class="control">
                <input class="input is-medium w-large is-primary" type="text" placeholder="Find a post">
            </p>
            <p class="control">
                <button class="button is-medium is-primary">
                    SEARCH
                </button>
            </p>
        </div>
    </div>

    <!-- TABS -->
    <div class="tabs is-boxed is-fullwidth">
        <ul>
            <li class="is-active">
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Ouvertes</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Terminées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Completées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Rejetées</span>
                </a>
            </li>
            <li>
                <a style="background-color: #F9F9F9">
                    <span class="has-text-grey has-text-weight-bold">Annulées</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- BLOCK -->
    <div class="ouvertes">
        {% for demande in demandes  | slice(pagination.pageFloorSlice, 5)%}
            {% demande.isOuverte == true %}
                <div class="columns bordered">
                    <div class="column">
                        <div class="level">
                            <div class="level-left">
                                <span class="tag is-primary">{{ demande.categorie }}</span>
                            </div>
                        </div>

            {% endif %}


</div>{# this div close container#}



            </div>
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.titre }}</td>
                <td>{{ demande.sommaire }}</td>
                <td>{{ demande.contenu }}</td>
                <td>{{ demande.budget }}</td>
                <td>{{ demande.createdAt ? demande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.deadline ? demande.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.isOuverte ? 'Yes' : 'No' }}</td>
                <td>{{ demande.isValide ? 'Yes' : 'No' }}</td>
                <td>{{ demande.nombreVotes }}</td>
                <td>
                    <button class="button is-success is-rounded"><a href="{{ path('demandes_show', {'id': demande.id}) }}">show</a></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <button class="button is-link is-outlined is-rounded"> <a href="{{ path('demandes_new') }}">Soumettre une nouvelle demande</a></button>
{% endblock %}
