{% extends 'base.html.twig' %}

{% block title %}Test {% endblock %}

{% block body %}






    {% for lien in pagination.countDemandes %}
        <a href="{{ path("vote_index", {'page' : lien}) }}">{{ lien }}</a>
    {% endfor %}



            <div class="columns">
                <h1>{{ demande.titre }}</h1>
                <p>{{ demande.contenu }}</p>
                <a href="{{ path("vote_avote", {'id' : demande.id, 'vote':'Pour'}) }}">Vote Pour</a>
                <a href="{{ path("vote_avote", {'id' : demande.id, 'vote':'Contre'}) }}">Vote Contre</a>
                <a href="{{ path("vote_avote", {'id' : demande.id, 'vote':'Abstention'}) }}">Vote Abstention</a>
                <div>
        {% endfor %}
